$offwhite: #f5f2d0;

div.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: repeat(auto, 1fr);
  grid-auto-rows: minmax(500px, auto);
  max-width: 1440px;

  section > h2,
  section > h3 {
    margin: 3.5rem 0;
    padding: 2rem;
    font-family: "Anton", sans-serif;
    font-weight: 200;
  }
  section > h2 {
    font-size: 2rem;
    color: #17778c;
  }
  .headline-credits {
    top: 95%;
    right: 0%;
    transform: translate(-20%, -70%);
    z-index: 5;
  }

  .credits {
    color: white;
    opacity: 0.3;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }

  section.grid-1 {
    div.hero {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 90vh;
      margin-top: 0px;
      // z-index: -3;
      &::after {
        content: "";
        background: black;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      img {
        // position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .headline {
      position: absolute;
      top: 85%;
      left: 15%;
      transform: translate(-20%, -70%);
      color: white;
      z-index: 5;
      padding: 1rem;

      h2 {
        font-size: 3rem;
        margin: 0.5rem;
      }
      h3 {
        font-size: 1.5rem;
        margin: 0.5rem;
      }
    }
  }

  // Section Services Grid 2
  section.grid-2 {
    &::after {
      content: "";
      display: block;
    }

    h2 {
      margin: 3.5rem 0;
      padding: 2rem;
    }

    .service-cards {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(400px, auto);
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      // margin-right: 200px;
    }

    // Box shadow
    //https://tobiasahlin.com/blog/how-to-animate-box-shadow/
    .box {
      position: relative;
      display: inline-block;
      // width: 100px;
      // height: 100px;
      //   background-color: #fff;
      border-radius: 5px;
      // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box::after {
      content: "";
      border-radius: 5px;
      //   position: absolute;
      position: relative;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box:hover {
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.25, 1.25);
    }

    .box:hover::after {
      opacity: 1;
    }
  }

  .grid-3 {
    background-image: url("/Images/svg/auto.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
    overflow: hidden;
    // & > img {
    //   position: absolute;
    //   width: 100%;
    //   top:0;
    //   left:0;
    //   z-index: -1;
    // }

    & > div.reivews h2 {
      margin-bottom: 0;
      text-align: center;
      z-index: 2;
    }
    .about-container {
      margin: 0 3rem;
      padding-bottom: 2rem;
      p {
        font-family: sans-serif;
        font-size: 1.5rem;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem;
        color: $offwhite;
      }
    }

    & > div.reivews {
      background-color: #890406;
      // padding: 2rem 0;
      h2 {
        padding: 2rem;
      }
      .yelp-font {
        font-size: 3rem;
        color: black;
        outline: red;
        font-family: Verdana, Geneva, sans-serif;
        // https://wpshout.com/quick-guides/create-text-outline-css/
        text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
      }
      & > div {
        display: grid;
        grid-auto-rows: minmax(400, auto);
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        background-color: #890406;
      }
    }
  }

  .grid-4 {
    div.footer-image {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1440px;
      max-height: 810px;
      margin-top: 0px;
      z-index: -3;
      &::after {
        content: "";
        background: black;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      img.footer-img {
        // position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3,
      .headline {
        position: absolute;
        padding: 0.5rem;
        color: white;
        font-size: 2.5rem;
        font-weight: 900;
      }

      h3 {
        color: white;
        z-index: 3;
        top: 20%;
      }

      .headline {
        top: 80%;
        left: 15%;
        transform: translate(-20%, -70%);
        z-index: 5;

        li a {
          // text-decoration: underline;
          color: #f26767;

          &:hover {
            color: #17778c;
            cursor: pointer;
          }
        }
        span:nth-child(1) {
          color: rgb(225, 99, 53);
        }

        span:nth-child(2) {
          color: rgb(177, 134, 237);
        }

        h3 {
          top: 0;
          left: 0;
          text-align: center;
          margin: 50px 0 0 0;
        }

        p {
          font-size: 1rem;
          font-weight: 900;
          text-decoration: underline;
          margin: 0;
          padding: 0.3rem;
        }
        li {
          font-size: 1.5rem;
          list-style-type: none;
        }
      }
    }

    & > div {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 90vh;
      margin-top: 0px;
      z-index: -3;
    }
    section.footer-2 {
      background: #083b66;
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      align-content: stretch;

      & > div {
        font-size: 0.5rem;
        color: white;
        padding: 0.5rem;
      }
      .burhan {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 1110px) {
  div.main-grid .grid-4 {
    div.footer-image h3 {
      font-size: 2rem;
    }
    .headline {
      li {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  div.main-grid .grid-4 {
    div.footer-image h3 {
      font-size: 1.5rem;
      text-align: center;
    }
    .headline {
      // text-align: center;
      li {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .box:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  div.main-grid .grid-4 {
    div.footer-image h3 {
      font-size: 1.4rem;
      top: 10%;
      text-align: center;
    }
    .headline {
      top: 70% !important;
      margin-top: 0.5rem;
      p {
        padding: 1rem;
      }

      li {
        font-size: 1.4rem !important;
      }
    }
  }
}

@media only screen and (max-width: 320) {
  #root > div > div > section.grid-3 > div {
    div {
      grid-auto-rows: minmax(300, auto);
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

// // OLD CODE
// div.main-grid {
//   display: grid;
//   width: 1440px;

//   section.hero-image {
//     display: flex;
//     // height: 80vh;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     // height: 100%;
//     // width: 100%;

//     div.hero {
//       height: 60%;
//       width: 100%;
//       position: relative;
//       //   position: absolute;
//       &::after {
//         content: "";
//         background: black;
//         opacity: 0.3;
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         left: 0;
//         top: 0;
//       }

//       img {
//         // position: absolute;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }

//     .headline {
//       position: absolute;
//       top: 70%;
//       left: 10%;
//       font-size: 100px;
//       transform: translate(-20%, -70%);
//       color: white;
//       z-index: 3;
//     }
//   }

//   //   Slider
//   .slider {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//     background: linear-gradient(to left, #17778c, #ffffff);
//     z-index: -1;
//   }
// }
