// References:
// https://www.youtube.com/watch?v=xMTs8tAapnQ
// Responsive Menu With Media Queries (Checkbox Trick) - Using Only CSS3
// https://stackoverflow.com/questions/53805798/how-can-i-get-transitions-on-css-to-work-checkbox

$smallScreen: 510px;
$mediumScreen: 660px;
$largeScreen: 825px;

.info-banner {
  width: 100%;
  background-color: #083b66;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.5rem;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

    li {
      text-decoration: none;
      // margin-left: 3em;
      // justify-content: baseline;

      a {
        text-decoration: none;
        color: white;
        font-weight: 900;
      }

      ul {
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

.nav {
  // border-bottom: 1px solid #083b6630;
  // text-align: right;
  // height: 6rem;
  // line-height: 70px;

  // New Code
  // position: relative;
  position: absolute;
  background: rgba(230, 230, 230, 0.5);
  width: 100%;
  z-index: 1000;
  font-family: "Anton", sans-serif;
  display: flex;
  justify-content: space-between;

  // Logo & H1, H2
  div#logo {
    position: relative;
    padding: 1rem;
    margin: 0 2rem;
    display: inline-block;
    a {
      // float: left;
      // height: 100px;

      // new code
      text-decoration: none;
      h1,
      h2 {
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      h1 {
        text-align: center;
      }
      h2 {
        // margin-bottom: ;
        color: #890406;
        font-weight: 100;
        letter-spacing: 0.5px;
      }
      .blue {
        color: #083b66;
        font-size: 3rem;
      }
      .wrench {
        font-size: 1.3rem;
        transform: rotate(-25deg);
        position: absolute;
        // top: -20px;
      }

      img {
        // padding: 1rem;
        // width: 100px; //for original logo
        // height: 80px;

        // new code
      }
    }
    // New Code
    h2 {
      // font-family: "Anton", sans-serif;
      // font-size: 1.4rem;
      // font-weight: 100;
      // line-height: 1.2;
      // float: left;
      // text-align: center;
      // position: relative;
      // top: 10px;
      // color: rgb(80, 141, 216);

      a {
        // text-decoration: none;
        // padding: 0;
        // margin: 0;
        // height: 1.7rem;
        // width: 0;
      }
    }
    span.red {
      color: rgb(242, 103, 103);
      border-bottom: 2px solid rgb(242, 103, 103);
    }
  }
  // Navigation
  .menu {
    margin: 10px 30px 0 0;

    a {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
      clear: right;
      text-decoration: none;
      color: #083b66;
      margin: 0 10px;
      line-height: 70px;
      font-size: 1.5rem;
      font-weight: 700;

      // Hover effect
      &:hover {
        // border-bottom: 5px solid #f26767;
        border-bottom: 5px solid #890406;
      }
    }
    .active {
      border-bottom: 5px solid rgb(80, 141, 216) !important;
      //   border-radius: 5px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      width: 100%;
      cursor: pointer;
    }
  }

  // Toggle
  label {
    margin: 0 40px 0 0;
    font-size: 2rem;
    line-height: 70px;
    display: none;
    width: 2rem;
    float: right;
    color: #083b66;
  }

  // Hide the Checkbox Input
  #toggle {
    display: none;
  }
}

//___________________MEDIA QUERY_________________

@media only screen and (max-width: $largeScreen) {
  .info-banner {
    font-size: 1rem;
  }
  .nav {
    div#logo {
      h2 {
        // font-size: 1.3rem;
      }
    }
    div.menu {
      a {
        margin: 0 5px;
        font-size: 1rem;
        // font-weight: 700;
        &:hover {
          // background: #d1dae3;
          border-bottom: 0px;
        }

        .active {
          background: rgb(80, 141, 216) !important;
          border-bottom: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mediumScreen) {
  // Show the 3 bar menu
  .nav {
    // new code
    display: block;
    // end of new code
    div#logo {
      // display: block;
      a h2 {
        // font-size: 1.4rem;
        // text-align: center;
      }
    }

    label {
      display: block;
      cursor: pointer;
    }

    .menu {
      text-align: center;
      width: 100%;
      // display: none;
      height: 0px; /* we start animation from 0px */
      overflow: hidden; /* without this the contents will be visible regardless of height */
      transition: height 550ms ease-in-out;
      background: white;
      z-index: 100 !important;
      position: relative; // This helps remove the content from the other components,
      top: 0.3rem;

      a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0, 0, 0, 0; //mcb
        width: 100%;
        cursor: pointer;
        background: white;
        opacity: 1;
        overflow: hidden;
        z-index: 100;

        &:hover {
          background-color: #083b66;
          color: white;
        }
      }

      // For Link highlight
      .active {
        background: rgb(80, 141, 216);
        width: 100%;
        cursor: pointer;
        border-bottom: 0px solid gray;
      }
    }
    input[type="checkbox"]:checked ~ .menu {
      height: 100vh; /* change height when input is checked */
    }
    #toggle:checked + .menu {
      display: block;
    }

    // input[type=checkbox]:checked a {
    //     transform-origin: top;
    //     transform: scale(1,1);
    //     transition: transform 400ms ease-in-out;
    // }
  }
  .nav div.menu a {
    font-size: 1.5rem;
    margin: 0px;
  }
}

@media only screen and (max-width: $smallScreen) {
  .info-banner {
    font-size: 0.8rem;
    ul {
      // justify-content: stretch;
      flex-wrap: wrap;
    }
  }
  .nav {
    position: relative;
    border-bottom: 2px solid #eaeaeb;
    // New code
    // height: 15.3rem;
    div#logo {
      width: 100%;
      margin: 0;
    }
    div#logo a {
      float: left;
      position: relative;
      height: 78px;
      display: block;
      width: 100%;
      text-align: center;

      img {
        width: 150px;
        position: relative;
        top: -20px;
      }
    }
    div#logo h2.title {
      font-size: 1.4rem;
      display: block;
      width: 100%;
      text-align: center;
    }

    label {
      display: block;
      cursor: pointer;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      font-size: 3.4rem;
    }
  }
}
