// References:
// https://www.youtube.com/watch?v=xMTs8tAapnQ
// Responsive Menu With Media Queries (Checkbox Trick) - Using Only CSS3
// https://stackoverflow.com/questions/53805798/how-can-i-get-transitions-on-css-to-work-checkbox


$smallScreen: 600px;

.nav{
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;

    .menu{
        margin: 0 30px 0 0;

        a {
            clear: right;
            text-decoration: none;
            color: gray;
            margin: 0 10px;
            line-height: 70px;
        }
    }

    // Toggle
    label{
        margin: 0 40px 0 0;
        font-size: 2rem;
        line-height: 70px;
        display: none;
        width: 2rem;
        float: right;
    }

    // Hide the Checkbox Input
    #toggle {
        display: none;
    }
}

//___________________MEDIA QUERY_________________
@media only screen and (max-width: $smallScreen){
    
    // Show the 3 bar menu
    .nav {
        
        label {
            display: block;
            cursor: pointer;
            
        }

        .menu{
            text-align: center;
            width: 100%;
            // display: none;
            height: 0px; /* we start animation from 0px */
            overflow: hidden; /* without this the contents will be visible regardless of height */
            transition: height 550ms ease-in-out;  
            background: white;
            z-index: 100 !important;  
            position: relative; // This helps remove the content from the other components,
  
            a {                
                display: block;
                border-bottom: 1px solid #EAEAEB;
                margin: 0; //mcb
                width: 100%;
                cursor: pointer;
                background: white;
                opacity: 1;
                overflow:hidden;
                z-index: 100;
                
            }

            // For Link highlight
            .active{
                background: #EAEAEB;
                width: 100%;
                cursor: pointer;
            }
        }
        input[type=checkbox]:checked ~ .menu {
            height: 100vh; /* change height when input is checked */
          }
        #toggle:checked + .menu {
            display: block;
        }

        // input[type=checkbox]:checked a {
        //     transform-origin: top;
        //     transform: scale(1,1);
        //     transition: transform 400ms ease-in-out;
        // }

    }

}

